.container {
  margin: 0 auto;
  max-width: 1000px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
}

.market-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.pt-8 {
  padding-top: 8px;
}

.row-0 {
  display: flex;
  flex-wrap: wrap;
}

.column-100 {
  width: 100%;
}

.column-fifth {
  width: 20%;
}

.relative {
  position: relative;
}

.absolute-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.623);
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.absolute {
  position: absolute;
  margin: 0;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.pd-7 {
  padding: 0 7px;
}

.display-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}

.align-tems-center {
  align-items: center;
}

.col-half,
.col-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.pd-left-2rem {
  padding-left: 2rem;
}

.mt-2rem {
  margin-top: 2rem;
}

@media only screen and (min-width: 680px) {
  .col-half {
    width: 50%;
  }

  .mb-desktop {
    margin-bottom: 1.5rem;
  }

  .text-align-right-center {
    text-align: right;
  }

  .column-half {
    width: 20%;
  }

  .pd-7 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .max-height {
    max-height: 75px;
  }

  .hide-desktop {
    display: none;
  }

  .mr-2rem-desktop {
    margin: 0.4rem 1rem;
  }
}

@media only screen and (max-width: 680px) {
  .pd-left-2rem {
    padding-left: 0;
  }

  .mt-mobile {
    margin-top: 1rem;
  }

  .mb-desktop {
    margin-bottom: 1rem;
  }

  .mt-2rem {
    margin-top: 1rem;
  }

  .text-align-right-center {
    text-align: center;
  }

  .mobile-width-100 {
    width: 100%;
  }

  .max-height {
    max-height: 100px;
  }

  .hide-mobile {
    display: none;
  }
}
