body {
  background-color: #f6f6f6;
}

.placeholder-img {
  width: 100%;
}

.mt-3rem {
  margin-top: 3rem;
}

.roboto-4 {
  font-family: Roboto, sans-serif, serif;
  font-weight: 400;
}

.roboto-5 {
  font-family: Roboto, sans-serif, serif;
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.mt-1rem {
  margin-top: 1rem;
}

.margin-lr {
  margin: 0 1rem;
}

.border-5 {
  border-radius: 5px;
}

.margin-0 {
  margin: 0;
}

.sign-out-mobile {
  border: 1px solid rgb(255, 99, 60);
  background-color: rgb(255, 99, 60);
  color: white;
  padding: 5px 0;
}

.text-align-center {
  text-align: center;
}

.raleway-500-price {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.raleway-400-price {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.raleway-500 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  color: white;
  background-color: #dd8f34;
}

.raleway-500-white {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  color: #dd8f34;
  background-color: white;
}

.resize-none {
  resize: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.479);
  bottom: 0;
  right: 0;
  left: 250px;
  top: 0;
  position: absolute;
}

.column-25 {
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  background-color: white;
}

.mb {
  margin-bottom: 2rem;
}

.block {
  display: block;
  cursor: pointer;
}

.hamburger-menu-orange {
  color: #dd8f34;
}

.raleway-500-menu {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  color: #dd8f34;
}

.raleway-size {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #dd8f34;
  font-size: 1.2rem;
}

.absolute-bottom-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
}

.orange {
  color: #dd8f34;
}

.border-top {
  border-top: 1px solid rgb(190, 190, 190);
}

.raleway-800 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.raleway-300 {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

.raleway-400-sm {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.object-fit {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.pd-btn {
  padding: 5px 115px;
}

.pd-btn-98 {
  padding: 5px 98px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 1000;
}

.text-box {
  background-color: white;
  position: fixed;
  width: 400px;
  height: 150px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.pd-r-3rem {
  padding-right: 3rem;
}

.pd-l-3rem {
  padding-left: 3rem;
}

.cancel-button {
  background-color: white;
  color: #dd8f34;
  border-radius: 5px;
  border: 1px solid #dd8f34;
  font-size: 1.2rem;
}

.submit-offer-button {
  background-color: #dd8f34;
  color: white;
  border-radius: 5px;
  border: 1px solid #dd8f34;
  font-size: 1.2rem;
}

.modal-input {
  width: 100px;
}

.display-inline {
  display: inline;
}

.raleway-400-header {
  font-family: Raleway, sans-serif;
  color: #dd8f34;
  font-weight: 400;
}

.sign-in-button {
  color: white;
  background-color: #dd8f34;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #dd8f34;
  border-radius: 5px;
  padding: 5px 15px;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.sign-in-input {
  outline: 0;
  border-width: 0 0 2px;
  background-color: #f6f6f6;
  border-color: #cecece;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
}

.mt-8rem {
  margin-top: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.roboto-7 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.border-bottom {
  border-bottom: 1px solid rgb(190, 190, 190);
}

.border-bottom-2px {
  border-bottom: 2px solid rgb(190, 190, 190);
}

.border-bottom-black {
  border-bottom: 1.5px solid black;
}

.roboto-3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.font-20px {
  font-size: 20px;
}

.inbox-img {
  height: 85px;
  width: 120px;
  border-radius: 5px;
  object-fit: fill;
}

.hover-highlight:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.font-size-1-2 {
  font-size: 1.2rem;
}

.margin-top-15 {
  margin-top: 15%;
}

.mt-20px {
  margin-top: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-2rem {
  margin-bottom: 2rem;
}

a.inbox-anchor:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.inbox-anchor:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.height-align-bottom {
  align-items: flex-end;
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.chat-box {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: block;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.in {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.out {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: lightgray;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: #dd8f34;
}

.object-fit-inbox {
  height: 250px;
  width: 75%;
  object-fit: cover;
  border-radius: 5px;
}

.border-top-2px {
  border-top: 2px solid #cecece;
  width: 80%;
}

.text-align-left {
  text-align: left;
}

.heart-red {
  color: red;
}

.roboto-4-save {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.send-message-button {
  background-color: #dd8f34;
  color: white;
  padding: 5px 15px;
  border: 0;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.text-align-end {
  text-align: end;
}

.mt {
  margin-top: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.message-input {
  padding: 5px;
  width: 65%;
  border-radius: 10px;
  border: 1px solid #cecece;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-9 {
  font-size: 0.9rem;
}

.font-1-quarter {
  font-size: 1.25rem;
}

i {
  cursor: pointer;
  margin: 1rem;
  color: black;
}

button,
a {
  cursor: pointer;
}
