body {
  background-color: #f6f6f6;
}

.placeholder-img {
  width: 100%;
}

.mt-3rem {
  margin-top: 3rem;
}

.roboto-4 {
  font-family: Roboto, sans-serif, serif;
  font-weight: 400;
}

.roboto-5 {
  font-family: Roboto, sans-serif, serif;
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.mt-1rem {
  margin-top: 1rem;
}

.margin-lr {
  margin: 0 1rem;
}

.border-5 {
  border-radius: 5px;
}

.margin-0 {
  margin: 0;
}

.text-align-center {
  text-align: center;
}

.raleway-500-price {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.raleway-400-price {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.raleway-500 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  color: white;
  background-color: #dd8f34;
}

.resize-none {
  resize: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  top: 0;
  left: 250px;
  position: absolute;
}

.column-25 {
  width: 250px;
  top: 0;
  height: 100vh;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  background-color: white;
}

.mb {
  margin-bottom: 2rem;
}

.column-75 {
  width: 100%;
}

.block {
  display: block;
  cursor: pointer;
}

.hamburger-menu-orange {
  color: #dd8f34;
}

.raleway-500-menu {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  color: #dd8f34;
}

.raleway-size {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #dd8f34;
  font-size: 1.2rem;
}

.absolute-bottom-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
}

.orange {
  color: #dd8f34;
}

i {
  cursor: pointer;
  margin: 1rem;
  color: black;
}
